body {
    font: 15px "Century Gothic", Futura, sans-serif;
    margin: 0 auto;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 20px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 30px;
    font-weight: bold;
    line-height: 70px;
    width: 70px;
    height: 70px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
  }
  
  .square:focus {
    outline: none;
  }
  
  .square-won {
    background: red;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
  }
  
  .game-info {
    margin-left: 40px;
  }
  
  .game-info button {
    padding: 5px;
    margin: 5px; 
  }
  
  .board-status {
    margin-bottom: 2rem;
    font-weight: bold;
  }
  